.scroller-demo {
  width: 100%;
  height: 100%;
  border: 20px solid transparent;
  outline: 5px solid transparent;
  transition: border-color .3s, outline .3s;
  position: relative;
  box-sizing: border-box;


  &.scrollDraggable-inertia-move {
    outline: 5px solid $color-green;
  }

  &.scroll-draggable_move {

    @each $direction in left right top bottom {
      &_#{$direction} {
        border-#{$direction}-color: $color-blue;
      }
    }
  }

  &_bgc_red {
    background-color: $color-white;

    .scroller-demo__item {
      @include bgcNth($color-red);
    }
  }

  &_bgc_yellow {
    background-color: $color-white;

    .scroller-demo__item {
      @include bgcNth($color-transparent-red);
    }
  }

  &_bgc_black {
    position: relative;
    z-index: 1;
    background-color: $color-white;
    .scroller-demo__item {
      @include bgcNth($color-black, 5);
    }
  }

  &__wrapper {
    position: relative;
    width: 2400px;

    &_pic_map {
      width: 24000px;
      height: 24000px;
      background-image: url($black-map-patter);
    }
    @extend %after-clearfix;
  }
  
  &__control {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;

    &_pos {
      &_left, &_right {
        top: 50%;
        transform: translateY(-50%);
      }

      &_top, &_bottom {
        left: 50%;
        transform: translateX(-50%);
      }

      &_left {
        left: 0;
        background-color: red;
      }

      &_right {
        right: 0;
        background-color: blue;
      }

      &_top {
        top: 0;
        background-color: white;
      }

      &_bottom {
        bottom: 0;
        background-color: black;
      }
    }
  }

  &__item {
    width: 240px;
    height: 240px;
    float: left;
  }

  &__controls-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}