$color-red: rgba(255, 0, 0, 1);
$color-transparent-red: rgba(255, 55, 0, .8);
$color-yellow: rgba(255, 255, 0, 1);
$color-black: rgba(0, 0, 0, 1);
$color-blue: rgba(0, 0, 255, .3);
$color-light-blue: rgba(0, 0, 255, .1);
$color-green: rgba(0, 255, 0, 1);
$color-white: rgba(255, 255, 255, 1);