footer.footer
    .footer__centered-wrapper
        .footer__side-container.footer__side-container_float_left
            p.footer__label © All rights is unregistered.
        .footer__side-container.footer__side-container_float_right
            p.footer__label You can do what you want