header.header
    .header__centered-wrapper
        h1.header__title #{title}
        menu.menu
            li.menu__item
                a.menu__anchor(href=githubAcc) GitHub
            li.menu__item
                a.menu__anchor(href=githubProject) Fork