.scroller-demo.scroller-demo__controls.scroller-demo_height_full-screen(data-draggable-scroll)
    .scroller-demo__controls-wrapper
        .scroller-demo__control.scroller-demo__control_pos_left(data-draggable-scroll-control="left:30vw")
        .scroller-demo__control.scroller-demo__control_pos_right(data-draggable-scroll-control="right:30vw")
        .scroller-demo__control.scroller-demo__control_pos_top(data-draggable-scroll-control="top:30vw")
        .scroller-demo__control.scroller-demo__control_pos_bottom(data-draggable-scroll-control="bottom:30vw")

    div(data-draggable-scrolled-content)
        .scroller-demo__wrapper.scroller-demo__wrapper_pic_map